version: '3.8'

services:
  # Frontend simple
 frontend:
  image: node:18-alpine
  working_dir: /app
  volumes:
    - ./frontend:/app
  ports:
    - "8080:8080"
  command: sh -c "cd /app && npm install && npx vite --host"
  # API simple
  api:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - ./api-gateway:/app
    ports:
      - "3000:3000"
    command: sh -c "cd /app && npm install && node server.js"

  # PostgreSQL
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
